/*Resources used: https://www.youtube.com/watch?v=j59qQ7YWLxw
Patrick Scott
2.27.2022*/

#page-container
{
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body 
{
  background-color: #9d8189;
  font-family: Copperplate, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

header
{
  text-align: center;
  background-color: #a06c7a;
  margin-top: -22px;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 10px;
}

footer
{
  text-align: center;
  background-color: #a06c7a;
  bottom: 0px;
  margin: 0px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 1px;  
}

header h1
{
  font-family: "Cinzel Decorative", serif;
}

main
{
  text-indent: 10px;
}

h2, h3
{
  font-family: "Cinzel Decorative", serif;
  text-align: center;
}

figure table
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

figcaption
{
  position: relative;
  font-size: small;
  font-style: italic;
  text-align: center;
  max-width: fit-content;
}

figcaption.table-caption
{
  font-size: small;
  font-style: italic;
}

table, td
{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

th
{
  border: 1px solid black;
  border-collapse: collapse;
  background-color: rgba(134, 53, 53, 0.952);
  padding: 5px;
}

.dark-row
{
  background-color: rgba(134, 53, 53, 0.952);
}

.form-button
{
  background-color: rgb(0, 0, 0);
  color: whitesmoke;
}

.stream-services
{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.spring
{
  color: rgb(206, 206, 4);
}

.summer
{
  color: rgb(126, 0, 0)
}

.fall
{
  color:rgba(138, 64, 3, 0.952)
}

.winter
{
  color: rgb(248, 200, 200);
}

.nc-select:hover
{
  background-color: #9d8189;
}

a.nav-link:link
{
   color: #020088;
   text-decoration: none;
}

a.nav-link:visited
{
   color: #020088;
   text-decoration: none;
}

a.nav-link:hover
{
   color: #020088;
   text-decoration: none;
   font-size: 90%;
}

a.nav-link:active
{
   color: #020088;
   text-decoration: none;
}

.calculator-output
{
  border: #020088;
}

.calculator-keys /*calculator_fcc*/
{
  display: grid;
}

*,*::before, *::after
{
  box-sizing: border-box;
  font-family: -apple-system, sans-serif;
  font-weight: normal;
}

.calculator-grid
{
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: minmax(70px, auto) repeat(5, 50px);
  margin: 20px; 
}

.calculator-grid > button
{
  cursor: pointer;
  font-size: 1rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
}

.calculator-grid > button:hover
{
  background-color: rgba(255, 255, 255, .90);
}

.span-two
{
  grid-column: span 2;
}

.output
{
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.output .previous-operand
{
  color: rgba(255, 255, 255, .75);
  font-size: .75rem;
}

.output .current-operand
{
  color: white;
  font-size: 1.0rem;
}

#enter-employee-salary, #display-results 
{
  padding-left: 5px;
}

/* Dropdown Button */
#calculators-dropdown-btn 
{
  background-color: transparent;
  border: none;
  color: white;
  font-size: 105%;
}

/* Dropdown button on hover & focus */
#calculators-dropdown-btn:hover #calculators-dropdown-btn:focus 
{
  background-color: transparent;
  font-size: 90%;
}

/* The container <div> - needed to position the dropdown content */
.calculators-dropdown 
{
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.calculators-dropdown-content 
{
  display: none;
  position: absolute;
  background-color: #a06c7a;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.calculators-dropdown-content:hover
{
  font-size: 97%;
  min-width: 130px;
}

/* Links inside the dropdown */
.calculators-dropdown-content a 
{
  color: #020088;
  padding: 1px 4px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/*Nav bar*/
.header_navbar ul
{
  list-style-type: none;
  background-color: #a06c7a;
  overflow: hidden;
  margin: 0;
}

.header_navbar li
{
  float: left;
  color: white;
  margin: 0;
}

.header_navbar li a
{
  display: block;
  color: white;
  text-decoration: none;
  padding: 5px;
}

.header_navbar li a:hover
{
  background-color: #7a535e;
}

.peer-review-list li
{
  padding: 3px;
}

/* Dropdown Button */
#reviews-dropdown-btn 
{
  background-color: transparent;
  border: none;
  color: white;
  font-size: 105%;
}

/* Dropdown button on hover & focus */
#reviews-dropdown-btn:hover #reviews-dropdown-btn:focus 
{
  background-color: transparent;
  font-size: 90%;
}

/* The container <div> - needed to position the dropdown content */
.reviews-dropdown
{
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.peer-review-dropdown-content 
{
  display: none;
  position: absolute;
  background-color: #a06c7a;
  min-width: 130px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.peer-review-dropdown-content:hover
{
  font-size: 97%;
  min-width: 130px;
}

/* Links inside the dropdown */
.peer-review-dropdown-content a 
{
  color: #020088;
  padding: 1px 4px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.peer-review-dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

ul#image_list
{
  display: none;
}