body 
{
  background-color: #9d8189;
  font-family: Copperplate, Arial, sans-serif;
}

h1 
{
  font-family: "Cinzel Decorative", serif;
}

h2, h3
{
  font-family: "Cinzel Decorative", serif;
  text-align: center;
}

header, footer
{
  text-align: center;
}

.center
{
  margin-left: auto;
  margin-right: auto;
}

figcaption
{
  font-size: x-small;
  font-style: italic;
  text-align: center;
}

figcaption.table_caption
{
  font-size: x-small;
  font-style: italic;
}

table, td
{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

th
{
  border: 1px solid black;
  border-collapse: collapse;
  background-color: rgba(134, 53, 53, 0.952);
  padding: 5px;
}

.dark_row
{
  background-color: rgba(134, 53, 53, 0.952);
}
