<p>Created by<a href="https://pscott20.github.io/scottdesigns.net/index.html" class="nav_link_design"> Scott Designs &copy;2022</a></p>
    <a href="https://validator.w3.org/check?uri=https://pscott20.github.io/index.html">
        <img src="images/button_validation_html5.png" alt="HTML5 Validation"/>
    </a>
    <a href="https://jigsaw.w3.org/css-validator/validator?uri=https://pscott20.github.io/index.html">
        <img src="images/button_validation_css.png" alt="CSS Validation"/>
    </a>
</p>