
<link href="/itis3135/styles/default.css" type="text/css" rel="stylesheet"/>
<header>
    <h1>Patrick Scott | ITIS3135 | Pink Sloth</h1>
    <div class="header_navbar">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li>|</li>
            <li><a href="introduction.html">Introduction</a></li>
            <li>|</li>
            <li><a href="contract.html">Contract</a></li>
            <li>|</li>
            <li><a href="tables.html">HTML Tables</a></li>
            <li>|</li>
            <li><a href="forms.html">HTML Forms</a></li>
            <li>|</li>
            <li><a href="/scottdesigns.net/index.html">Brand</a></li>
            <li>|</li>
            <li><a href="website_evaluation.html">Website Critique</a></li>
            <li>|</li>
            <li><a href="/stuff/ALL%20%5ECAPS.htm">Bad Design</a></li>
            <li>|</li>
            <li><a href="first_scripts.html">First Scripts</a></li>
            <li>|</li>
            <li><a href="name_the_polygon.html">Name the Polygon</a></li>
            <li>|</li>
            <li><div class="calculators-dropdown">
                    <button onclick="dropdownFunction()" id="calculators-dropdown-btn">Calculators &#8964;</button>
                    <div id="calculators-dropdown-options" class="calculators-dropdown-content">
                        <a href="calculator_try.html" id="calculator-attempt">Calculator Attempt</a>
                        <a href="calculator_fcc.html" id="calculator-tutorial">Calculator</a>
                    </div>
                </div>
            <li>|</li>
            <li><a href="arrays.html">Arrays</a></li>
            <li>|</li>
            <li><a href="hobby/index.html">Hobby</a></li>
        </ul>
    </div>
</header>
<script src="/itis3135/scripts/default_scripts.js"></script>