
<link href="/itis3135/styles/default.css" type="text/css" rel="stylesheet"/>
<header>
    <h1>Patrick Scott | ITIS3135 | Pink Sloth</h1>
    <nav>
        <a href="index.html" class="nav-link">Home</a>
        |
        <a href="introduction.html" class="nav-link">Introduction</a>
        |
        <a href="contract.html" class="nav-link">Contract</a>
        |
        <a href="tables.html" class="nav-link">HTML Tables</a>
        |
        <a href="forms.html" class="nav-link">HTML Forms</a>
        |
        <a href="/scottdesigns.net/index.html" class="nav-link">Brand</a>
        |
        <a href="website_evaluation.html" class="nav-link">Website Critique</a>
        |
        <a href="/stuff/ALL%20%5ECAPS.htm" class="nav-link">Bad Design</a> 
        |
        <a href="first_scripts.html" class="nav-link">First Scripts</a>
        |
        <a href="name_the_polygon.html" class="nav-link">Name the Polygon</a>
        |
        <div class="calculators-dropdown">
            <button onclick="dropdownFunction()" class="calculators-dropdown-btn">Calculators &#8964;</button>
            <div id="calculators-dropdown-options" class="calculators-dropdown-content">
                <a href="calculator_try.html" id="calculator-attempt">Calculator Attempt</a>
                <a href="calculator_fcc.html" id="calculator-tutorial">Calculator</a>
            </div>
        |
        <a href="hobby/index.html">Hobby</a>
        </div>
        |
        <a href="arrays.html" class="nav-link">Arrays</a>
    </nav>
</header>
<script src="/itis3135/scripts/default_scripts.js"></script>