
<link href="/itis3135/styles/default.css" type="text/css" rel="stylesheet"/>
<header>
    <div class="header-container">
        <div class="header_navbar">
            <h1>Patrick Scott | ITIS3135 | Pink Sloth</h1>
            <a href="/itis3135/index.html">Home</a>
            <div class="subnavbar">
                <button class="subnavbar-button">About Me &#8964;</button>
                <div class="subnavbar-content">
                    <a href="/itis3135/introduction.html">Introduction</a>
                    <a href="/itis3135/contract.html">Contract</a>
                </div>
            </div>
            <div class="subnavbar">
                <button class="subnavbar-button">HTML &#8964;</button>
                <div class="subnavbar-content">
                    <a href="/itis3135/tables.html">HTML Tables</a>
                    <a href="/itis3135/forms.html">HTML Forms</a>
                </div>
            </div>
            <a href="/scottdesigns.net/index.html">Scott Designs</a>
            <a href="/itis3135/website_evaluation.html">Website Critique</a>
            <a href="/stuff/ALL%20%5ECAPS.htm">Bad Design</a>
            <div class="subnavbar">
                <button class="subnavbar-button">JavaScript &#8964;</button>
                <div class="subnavbar-content">
                    <a href="/itis3135/first_scripts.html">First Scripts</a>
                    <a href="/itis3135/image_swap_application.html">Image Swap Application</a>
                    <a href="/itis3135/Scott-Activity12.html">bcSlider Plugin</a>
                    <a href="/itis3135/Scott-Activity13.html">bcSlider Plugin</a>
                </div>
            </div>
            <a href="/itis3135/name_the_polygon.html">Name the Polygon</a>
            <div class="subnavbar">
                <button class="subnavbar-button">Calculators &#8964;</button>
                <div class="subnavbar-content">
                    <a href="/itis3135/calculator_try.html">Calculator Attempt</a>
                    <a href="/itis3135/calculator_fcc.html">Calculator</a>
                </div>
            </div>
            <a href="/itis3135/arrays.html">Arrays</a>
            <a href="/itis3135/hobby/index.html">Hobby</a>
            <div class="subnavbar">
                <button class="subnavbar-button">Peer Reviews &#8964;</button>
                <div class="subnavbar-content">
                    <a href="/itis3135/peer_review_1.html" id="peer-review-1">Peer Review 1</a>
                    <a href="/itis3135/peer_review_2.html" id="peer-review-2">Peer Review 2</a>
                </div>
            </div>
            <a href="https://www.shottycycleplaza.com/">Client Project</a>
        </div>
    </div>
</header>
<script src="/itis3135/scripts/default_scripts.js"></script>