body {
  background-color: #9d8189;
  font-family: Copperplate, Arial, sans-serif;
}

h1 {
  font-family: "Cinzel Decorative", serif;
}

h2 {
  font-family: "Cinzel Decorative", serif;
  text-align: center;
}

h3 {
  font-family: "Cinzel Decorative", serif;
  text-align: center;
}

header 
{
  text-align: center;
}

footer
{
  text-align: center;
}

a.nav-link:link
{
   color: #020088;
   text-decoration: none;
}
a.nav-link:visited
{
   color: #020088;
   text-decoration: none;
}
a.nav-link:hover
{
   color: #020088;
   text-decoration: none;
}
a.nav-link:active
{
   color: #020088;
   text-decoration: none;
}

