body 
{
  background-color: #677474;
  font-family: Copperplate, Arial, sans-serif;
}

h1, h2, h3
{
  font-family: Copperplate, Arial, serif;
  text-align: center;
}

header
{
  text-align: center;
  background-color: #1b3300;
  color: rgb(206, 206, 206);
  padding-top: 10px;
  padding-bottom: 10px;  
}

footer
{
  text-align: center;
  background-color: #1b3300;
  color: rgb(206, 206, 206);
  padding-top: 30px;
  padding-bottom: 10px; 
}

a.nav-link:link
{
   color: #020088;
   text-decoration: none;
}
a.nav-link:visited
{
   color: #020088;
   text-decoration: none;
}
a.nav-link:hover
{
   color: #020088;
   text-decoration: none;
}
a.nav-link:active
{
   color: #020088;
   text-decoration: none;
}

